services:
  redis-master:
    image: redis:latest
    command: redis-server --appendonly yes

  redis-slave:
    image: redis:latest
    command: redis-server --replicaof redis-master 6379
    depends_on:
      - redis-master
    deploy:
      replicas: 3

  sentinel:
    image: redis:latest
    command: >
      sh -c 'echo "sentinel monitor $MASTER_NAME redis-master 6379 2" > /etc/sentinel.conf &&
             echo "sentinel down-after-milliseconds $MASTER_NAME 5000" >> /etc/sentinel.conf &&
             echo "sentinel failover-timeout $MASTER_NAME 60000" >> /etc/sentinel.conf &&
             echo "sentinel parallel-syncs $MASTER_NAME 1" >> /etc/sentinel.conf &&
             echo "sentinel resolve-hostnames yes" >> /etc/sentinel.conf &&
             redis-server /etc/sentinel.conf --sentinel'
    depends_on:
      - redis-master
      - redis-slave
    deploy:
      replicas: 3

  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./:/var/www
    env_file:
      - .env
    depends_on:
      - sentinel
    stdin_open: true
    command:
      - "bash"
